@(title: String)(blogs: List[models.Blog])(sidebar: Html)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </head>
    <body>
	@sidebar

	<div class="container">@content</div>

	<br> @blogs
	<div class="list-group">
		@for(b <- blogs) {
			<a href="@routes.Blogs.gotoBlogDetail(b.id)" class="list-group-item" action="">
				<h4 class="list-group-item-heading">@b.title</h4>
				<p class="list-group-item-text">@b.content</p>
			</a>
		} 
	</div>

</body>
</html>
